a {
    color: black;
}

a:hover
{ 
    text-decoration: none;
    color: #13ED13;
}

.drulogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.side-menu {
    font-size: 30px;
    font-weight: 100;
    line-height: 2;
    position: absolute;
    top: 200px;
    margin-right: 20px;
}

.side-menu ul {
    list-style-type: none;
}

.side-menu ul li {
    margin-top: 15px;
}

.side-menu img {
    height: 32px;
    width: 32px;
}

.side-menu .submenu {
    font-size: 25px;
}

.hide {
    display: none;
}
